<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>나의 나눔 물품</title>
    <link rel="stylesheet" th:href="@{/css/myshare.css}"/>
</head>
<th:block layout:fragment="content">
<body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='mypage')"></div>
<div class="middle">
    <aside class="asNav" th:insert="/fragments/mypageNav :: navFragment(pageName='4')"></aside>
    <div class="con_info">
        <div class="con_title">나눔 물품</div>
        <div class="container" id="share_card">
            <div class="cardbox">
            <th:block th:if="${share}">
                <div th:each="item : ${share}">
                    <div class="card mb-3" style="width: 450px; height: 130px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="${item.img_path}" class="img-fluid rounded-start" id="pic" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a th:href="@{/board/content(board_no=${item.board_no})}">
                                        <h5 class="card-title" th:text="${item.title}"></h5>
                                        <p class="card-text" th:text="${item.content}"></p>
                                        <p class="card-text" th:text="${item.posting_date}"><small class="text-muted"></small></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </th:block>
        </div>
        </div>
        <th:block th:unless="${share}">
            <div class="container" id="noItem">
                <h5>나눔한 항목이 존재하지 않습니다.</h5>
            </div>
        </th:block>
    </div>
</div>
</body>
</th:block>
</html>