<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>나의 게시글</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myWriting.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myPageLayout.css}"/>
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='Mypage')"></div>
    <div class="middle">
        <div class="nav_wrapper">
            <th:block th:insert="/fragments/mypageNav :: navFragment(pageName='3')"></th:block>
        </div>
        <div class="con_info">
            <div class="con_info_wrapper">
                <div class="con_title">나의 게시글</div>
                <th:block th:if="${writing}">
                    <div class="wr_table">
                        <table class="table table-hover">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">날짜</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr th:each="wr, rowStat : ${writing}">
                                <input type="hidden" value="${wr.board_no}">
                                <td class="tb_num" th:text="${writing.size() - rowStat.index}"></td>
                                <td class="tb_title">
                                    <a th:href="@{/board/content(board_no=${wr.board_no})}">
                                        <span th:text="${wr.title}"></span>
                                    </a>
                                </td>
                                <td class="tb_date" th:text="${wr.posting_date}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation" id="wr_page">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th:block>
                <th:block th:unless="${writing}">
                    <div>등록된 글이 없습니다.</div>
                </th:block>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>