<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마이펫 등록</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js"></script>
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='mypage')"></div>
<div class="middle">
    <aside class="asNav" th:insert="/fragments/mypageNav :: navFragment(pageName='0')"></aside>
    <div class="con_info">
        <form action="/insertpet" method="post" enctype="multipart/form-data">
            <label for="attach">
                <img class="circle_petpic" th:src="@{/img/mypage/default-image.png}" alt="No Image" />
                <img src="img/mypage/mypicture.png" alt="이미지 아이콘" style="cursor: pointer;">
                <input type="file" name="attachFile" id="attach" accept="image/*" style="display: none;" max="1048576">
            </label>
            <img id="preview" src="" alt="Image Preview" style="max-width: 100px; max-height: 100px;">
            <p>이름: <input type="text" name="pet_name" /></p>
            <p>생일: <input type="text" name="pet_birth" id="petBirthPicker" pattern="yyyy-MM-dd"/></p>
            <p>성별:
                <input type="radio" name="pet_gender" value="m"> 남아
                <input type="radio" name="pet_gender" value="f"> 여아
            </p>
            <p>종류: <input type="text" name="pet_kind" /></p>
            <p>중성화 여부:
                <input type="radio" name="pet_neuter" value="y"> 유
                <input type="radio" name="pet_neuter" value="n"> 무
            </p>
            <p>색상: <input type="text" name="pet_color" /></p>
            <p>체중: <input type="number" name="pet_weight" value="0" /></p>
            <p>메모: <input type="text" name="pet_trait" /></p>
            <input type="submit" value="등록">
        </form>
    </div>
</div>
</body>
<script>
    // 파일 입력 필드가 변경될 때 호출되는 함수
    document.getElementById('attach').addEventListener('change', function() {
        const fileInput = this;
        const preview = document.getElementById('preview');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                // 이미지 미리보기 표시
                preview.src = e.target.result;
            };

            // 파일 읽기 시작
            reader.readAsDataURL(fileInput.files[0]);
        }
    });

    // 생일 선택 달력
    flatpickr("#petBirthPicker", {
        dateFormat: "Y-m-d", // 원하는 날짜 형식으로 설정 (예: 년-월-일)
        enableTime: false, // 시간을 사용하지 않는 경우 false로 설정
    });
</script>
</th:block>
</html>
