<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마이펫 정보수정</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js"></script>
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='mypage')"></div>
<div class="middle">
    <aside class="asNav" th:insert="/fragments/mypageNav :: navFragment(pageName='0')"></aside>
    <div class="con_info">
        <form action="/petchanged" method="post" enctype="multipart/form-data">
                <label for="attach">
                    <img class="circle_petpic" th:if="${mypet.pet_pic != null}" th:src="@{|${mypet.pet_pic}|}" alt="Pet Image" />
                    <img class="circle_petpic" th:unless="${mypet.pet_pic != null}" th:src="@{/img/mypage/default-image.png}" alt="No Image" />
                    <img src="img/mypage/mypicture.png" alt="이미지 아이콘" style="cursor: pointer;">
                    <input type="file" name="attachFile" id="attach" accept="image/*" style="display: none;" max="1048576">
                </label>
                <img id="preview" src="" alt="Image Preview" style="max-width: 100px; max-height: 100px;">
                <p>이름: <input type="text" name="pet_name" th:value="${mypet.pet_name}" /></p>
                <p>생일: <input type="date" name="pet_birth" th:value="${mypet.pet_birth}" id="petBirthPicker" /></p>
                <p>성별:
                    <input type="radio" name="pet_gender" th:value="m" th:checked="${mypet.pet_gender == 'm'}"> 남아
                    <input type="radio" name="pet_gender" th:value="f" th:checked="${mypet.pet_gender == 'f'}"> 여아
                </p>
                <p>종류: <input type="text" name="pet_kind" th:value="${mypet.pet_kind}" /></p>
                <p>중성화 여부:
                    <input type="radio" name="pet_neuter" th:value="y" th:checked="${mypet.pet_neuter == 'y'}"> 유
                    <input type="radio" name="pet_neuter" th:value="n" th:checked="${mypet.pet_neuter == 'n'}"> 무
                </p>
                <p>색상: <input type="text" name="pet_color" th:value="${mypet.pet_color}" /></p>
                <p>체중: <input type="number" name="pet_weight" th:value="${mypet.pet_weight}" value="0" /></p>
                <p>메모: <input type="text" name="pet_trait" th:value="${mypet.pet_trait}" /></p>
            <input type="submit" value="완료">
        </form>
        <button onclick="window.location.href='/deletepet'">삭제</button>
    </div>
</div>
</body>
</th:block>
<script>
    // 파일 입력 필드가 변경될 때 호출되는 함수
    document.getElementById('attach').addEventListener('change', function() {
        const fileInput = this;
        const preview = document.getElementById('preview');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                // 이미지 미리보기 표시
                preview.src = e.target.result;
            };

            // 파일 읽기 시작
            reader.readAsDataURL(fileInput.files[0]);
        }
    });

    // 생일 선택 달력
    flatpickr("#petBirthPicker", {
        dateFormat: "Y-m-d", // 원하는 날짜 형식으로 설정 (예: 년-월-일)
        enableTime: false, // 시간을 사용하지 않는 경우 false로 설정
    });
</script>
</html>
