<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>나의 게시글</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myWriting.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myPageLayout.css}"/>
    <script defer src="/js/mywriting.js"></script>
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='Mypage')"></div>
    <div class="middle">
        <div class="nav_wrapper">
            <th:block th:insert="/fragments/mypageNav :: navFragment(pageName='3')"></th:block>
        </div>
        <div class="con_info">
            <div class="con_info_wrapper">
                <div class="con_title">나의 게시글</div>
                    <!-- 게시글 리스트 -->
                    <div id="items"></div>
                    <!-- 페이징 -->
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </body>
</th:block>
</html>