.cardbox{
    width: 100%;
    display: grid;
    justify-content:center;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
}

.sharecard {
    border: 1px lightgrey solid;
    border-radius: 0.5em;
}

.con_info{
    margin-bottom: 100px;
}

.card-title, .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.card-text:nth-of-type(2) {
    border-top: 1px solid lightgrey; /* 원하는 밑줄 스타일을 지정하세요 */
    margin-top: 20px;
    padding-top: 5px; /* 원하는 간격을 설정하세요 */
}

#pic {
    min-width: 100%; /* 이미지의 최대 너비를 부모 요소의 100%로 설정 */
    min-height: 100%;
}

.col-md-4 {
    width: 120px;
    height: 120px;
}

#card_atag {
    display: grid;
    width: 250px;
    height: 100px;
    text-decoration: none;
}

#load-more {
    margin: 30px 0;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #222222;
}