.alert {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 40%;
  height: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  color: black;
  background-color: white;
  border-radius: 8px;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 30px;
}

.alert p {
  font-size: 24px;
  font-weight: bold;
}

.black_bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.alert button {
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
}

.display_none {
  display: none;
}
