<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <th:block th:fragment="footerFragment">
      <footer>
        <div class="inner">
          <div class="left">
            <div class="fLogo">UNI PET</div>
            <div class="info-wrap">
              <p class="unipet">(주)유니펫</p>
              <p>
                <span class="addr">주소</span>서울특별시 송파구 중대로 135, 서관
                12층 (가락동) 한국소프트웨어산업협회 (05717)
              </p>
              <p><span class="addr">TEL</span>02)1234-5678</p>
            </div>
          </div>
          <div class="bottom">
            <div class="copy">&copy; 2023 UNI PET corporate</div>
          </div>
        </div>
      </footer>
    </th:block>
  </body>
</html>
