.container_out {

}

.container_nav {

    padding-bottom: 20px;
}

.nav-link {
    display: block;
    margin-top: 45px;

}

.nav_flex_column {
    padding: 10px;
    padding-left: 35px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: grey;
    font-weight: bold;
}

.bnav {
    font-size: larger;
}

.nav-link:hover {
    color: #994831;

}
