footer {
  padding: 80px 0;
  color: #fff;
  background: #222;
}

.left {
  position: relative;
}

footer .inner {
  display: flex;
  width: 100%;
  max-width: 1654px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

footer .left p {
  margin-bottom: 13px;
}

footer .left .fLogo {
  width: 12.556rem;
  height: 3.5rem;
  text-indent: -1000em;
  background: url(../image/logo_footer.jpg) no-repeat left top;
  background-position: center;
  background-size: 100% auto;
  margin-bottom: 10px;
  transform: translateX(-10%);
}

footer .left address {
  padding-top: 2.778rem;
  font-size: 0.889rem;
  letter-spacing: -0.044rem;
  color: #fff;
  line-height: 1.7;
}

footer .left address a {
  color: #fff;
}

footer .left address i {
  padding: 0 0.556rem 0 1.111rem;
  color: #808080;
}

footer .left address .space {
  width: 4.2rem;
  display: inline-block;
}

@media (max-width: 768px) {
  footer .left address .space {
    width: 3.7rem;
  }
  footer .left p {
    margin-bottom: 5px; /* 작은 화면에 대한 간격 조절 */
  }
  footer .left address {
    margin-top: 5px; /* 작은 화면에 대한 간격 조절 */
  }
  footer .left address p {
    margin-bottom: 3px; /* 작은 화면에 대한 간격 조절 */
  }
}

@media (max-width: 480px) {
  footer .left address .space {
    display: none;
  }
  footer .left p {
    margin-bottom: 3px; /* 더 작은 화면에 대한 간격 조절 */
  }
  footer .left address {
    margin-top: 3px; /* 더 작은 화면에 대한 간격 조절 */
  }
  footer .left address p {
    margin-bottom: 2px; /* 더 작은 화면에 대한 간격 조절 */
  }
}

/* footer .left address i:nth-child(2){padding-left:0.556rem;} */
footer .left address i:nth-child(2),
footer .left address i:nth-child(7) {
  padding-left: 0;
}

footer .right {
  display: grid;
  justify-content: flex-end;
  justify-items: end;
}

footer .right .familySite {
  width: 11.944rem;
  position: relative;
  color: #fff;
  line-height: 3.278rem;
  cursor: pointer;
  box-sizing: border-box;
}

footer .right .familySite p {
  padding-left: 2.778rem;
  position: relative;
  z-index: 2;
  border-radius: 3.278rem;
  border: 0.056rem solid #fff;
  background: #222;
}

footer .right .familySite p span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.311rem;
  position: relative;
  vertical-align: 2px;
}

footer .right .familySite p i {
  display: inline-block;
  width: 100%;
  height: 0.056rem;
  position: absolute;
  left: 0;
  top: 0.25rem;
  background: #fff;
}

footer .right .familySite p i:nth-child(2) {
  transform: rotate(90deg);
}

footer .right .familySite ul {
  display: none;
  width: 100%;
  padding: 0.556rem 1.667rem 1.956rem;
  position: absolute;
  left: 0;
  bottom: 1.667rem;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 2.278rem 2.278rem 0 0;
  background: #fff;
}

footer .right .familySite ul li {
  padding: 0.556rem 0;
  line-height: 1.667rem;
  box-sizing: border-box;
}

footer .right .familySite ul li a {
  display: block;
}

footer .right .familySite.active p {
  border-color: #88cbc9;
  background: #88cbc9;
}

footer .right .familySite.active p i:nth-child(2) {
  transform: rotate(0deg);
}

footer .right .siteMap {
  padding-top: 4.444rem;
  text-align: right;
}

footer .right .siteMap a {
  margin-left: 1.667rem;
  font-weight: 700;
  color: #fff;
}

/* footer .right .siteMap a:last-child{color:#808080;} */
footer .bottom {
  display: flex;
  width: 100%;
  clear: both;
  margin-top: 2.222rem;
  padding-top: 1.111rem;
  justify-content: space-between;
  border-top: 0.056rem solid #4d4d4d;
}

footer .bottom .copy {
  font-size: 0.778rem;
  color: #808080;
}

@media (max-width: 1366px) {
  footer .right .siteMap a {
    letter-spacing: -0.05rem;
  }

  footer .right .siteMap a:first-child {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  footer .right {
    display: block;
    position: absolute;
    left: 32px;
    right: 32px;
    top: 0;
  }

  footer .right .familySite {
    position: absolute;
    right: 0;
    top: 0;
  }

  footer .right .siteMap {
    padding-top: 7.944rem;
    text-align: left;
  }

  footer .inner {
    position: relative;
  }

  footer .left address {
    padding-top: 7.556rem;
  }
}

@media (max-width: 768px) {
  footer {
    min-width: auto;
    padding: 2.222rem 0 1.667rem;
  }

  footer .inner {
    position: relative;
  }

  footer .left .fLogo {
    width: 11.111rem;
    height: 3.111rem;
  }

  footer .left address {
    padding-top: 16.411rem;
    font-size: 0.778rem;
  }

  footer .left address .uiM {
    width: 2.344rem;
  }

  :lang(en) footer .left address .uiM {
    width: 3.7rem;
  }

  footer .left address i {
    color: #808080;
  }

  footer .left address br + i {
    padding: 0 0.556rem 0 0;
    color: #808080;
  }

  /* footer .left address i:last-child{padding-left:1.111rem;} */
  footer .right {
    left: 1.833rem;
    right: 1.833rem;
    top: 5.889rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  footer .right .familySite {
    width: 100%;
    position: relative;
    text-align: center;
  }

  footer .right .familySite p {
    padding-left: 0;
  }

  footer .right .siteMap {
    display: flex;
    padding-bottom: 1.667rem;
    padding-top: 0;
    flex-direction: column;
  }

  footer .right .siteMap a {
    margin: 0 0 0.833rem 0;
  }

  footer .bottom {
    margin-top: 1.667rem;
    padding-top: 0.556rem;
  }

  footer .bottom .copy {
    font-size: 0.778rem;
    color: #808080;
  }
}

.addr {
  color: #807d7a;
  padding-right: 0.778rem;
}
