
.circle_petpic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url("/image/happy_cat.jpg");
  background-size: 100% 100%;
}

.asNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 20%;
}

.middle {
    display: flex;
    align-items: center;
    width: 80%;
}

.con_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%
}

.container_out {
    margin-left: 20px;
}

.container_user_name {
    margin: 20px 0;
    text-align: center;
}

#user_name{
    font-size: larger;
    font-weight: bolder;
}

.container_nav{
    margin: 80px 0 0 30px;
}

.nav-link {
    color: #808080;
    transition: color 0.3s;
    line-height: 1.8em;
}

.nav-link:hover {
    color: #555; /* 마우스 호버 시 폰트 색상 변경 */
}