
.con_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.con_title {
    position: absolute;
    top: 10%;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #BEBEBE;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    left: 35%;
    font-size: x-large;
}

.cardbox {
 position: absolute;
    top: 23%;
    flex-wrap: wrap;
border: 1px solid blue;
    width: 80%;
    display: grid;
    justify-content: right;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    padding: 30px;
}

.card-title, .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
}

#noItem {
    text-align: center;
}

#pic {
    width: 149.55px;
    height: 128px;
}

