
.cardbox {
    margin: 0px auto;
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}

#likes_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.card-title, .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
}

#noItem {
    text-align: center;
}

#pic {
    width: 149.55px;
    height: 128px;
}
