
.con_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.con_title {
    position: absolute;
    top: 10%;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #BEBEBE;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    left: 35%;
    font-size: x-large;
}

.cardbox {
 position: absolute;
    top: 23%;
    flex-wrap: wrap;
border: 1px solid blue;
    width: 80%;
    display: grid;
    justify-content: right;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    padding: 30px;
}

.card-body {
    height: 190px;
}

#likes_card {
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

#noItem {
    text-align: center;
}

#pic {
    width: 287px;
    height: 200px;
}
