.con_title {
    position: absolute;
    top: 10%;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #BEBEBE;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    left: 35%;
    font-size: x-large;
}

.withoutPic {
    width: 80%;
}

.con_petform {
    width: 80%;
    padding-top: 150px;
    margin: 0 auto;
        max-width: 500px;
}

input[type="text"], #petBirthPicker, .input-group {
    width: 50%;
}

input[type="radio"] {
    align-items: center;
}

.con_petchangepic {
    align-items: center;
    justify-content: center;
}

.petForm_btn {
display: flex;
    flex-direction: row;
    align-items: center;
        justify-content: center;
}