.con_title {
    position: absolute;
    top: 10%;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #BEBEBE;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    left: 35%;
    font-size: x-large;
}

.withoutPic {
    width: 100%;
    margin: 30px 0;
}

.con_petform {
    width: 100%;
    padding-top: 150px;
    margin: 0 auto;
        max-width: 500px;
}

label.col-form-label {
  width: 100px;

}

.col-sm-10 {
  width: 400px;
  align-items: center;
}

input[type="text"], #petBirthPicker, .input-group {
    width: 100%;
}

input[type="radio"] {
    align-items: center;
}

.con_petchangepic {
    height: 175px;
    position: relative;
}

.imgIcon {
    position: absolute;
    left: 90px;
    top: 110px;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 25px 25px;
}

.petForm_btn {
    margin-left: 10px;
}

#div_wide {
    width: 100%;
}

#div_cen {
    width: 60%;
}
