.con_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.con_title {
    position: absolute;
    top: 10%;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #BEBEBE;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    left: 35%;
    font-size: x-large;
}

.infobox {
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 80px;
    border-bottom: 2px solid #BEBEBE;
    margin-bottom: 10px;
    padding: 0 20px;
}

.con_bottom {
    position: absolute;
    bottom: 25px;
}

.con_bottom, .con_link, .con_link_bottom {
    color: #BEBEBE;
    transition: color 0.3s;
}

.con_link:hover,
.con_link_bottom:hover,
.con_name
{
    color: #555;
}

a.con_link {
    padding: 20px 0 20px 50px;
}

.after_change {
    width: 30%;
}

.con_email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new_email,
.customInput {
    border: none;
    background-color: #BEBEBE;
    width: 35%;
}

#emailSelect {
    width: 42%;
}

#e_btn {
    margin-top: 40px;
    margin-left: auto;
    display: flex;
}

#cancelButton {
    margin-left: 5px;
}

.tb_num {
    max-width: 50px;
}

.tb_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}

.wr_table {
    margin: 18% 0 5% 0;
}

#wr_page {
    margin-bottom: 5%;
}