<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link rel="stylesheet" th:href="@{/css/animalList.css}"/>
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='List')"></div>
    <div id="card_container" class="card-deck">
        <div th:each="animal : ${animalList}" class="card" style="width: 18rem;">
            <a th:href="@{'/animalDetail/' + ${animal.image_id} + '?careAddr=' + ${animal.careAddr}}">
                <img id="animalList_img" th:src="${animal.popfile}" class="card-img-top" alt="Animal Image">
            </a>
            <div class="card-body">
                <h5 th:text="${animal.noticeNo}" class="card-title"></h5>
                <p th:text="${animal.kindCd}" class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${animal.processState}"></li>
                <li class="list-group-item" th:text="${animal.careNm}"></li>
                <li class="list-group-item" th:text="${animal.happenPlace}"></li>
                <li class="list-group-item" th:text="${animal.specialMark}"></li>
            </ul>
        </div>
    </div>
    </body>
</th:block>
</html>