<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/content.css}">
</head>
<th:block layout:fragment="content">
    <body>
    <div th:replace="/fragments/topBackground.html :: topBgFragment(imgName='Board')"></div>
    <div id="entire_screen">
        <div class="container_nav">
            <nav class="nav_flex_column">
                <a class="nav-link" th:href="@{'/board/list' + 0}"><span class="bnav">공지 게시판</span></a>
                <a class="nav-link" th:href="@{'/board/list' + 1}"><span class="bnav">나눔 게시판</span></a>
                <a class="nav-link" th:href="@{'/board/list' + 2}"><span class="bnav">자유 게시판</span></a>
            </nav>
        </div>
        <!--        <aside class="boardNav" th:insert="/boardnav.html :: navFragment"></aside>-->
        <section class="main_container">
            <div class="main_wrap">
                <h1 class="board_title" th:text="|${board.title}|"></h1>
                <!--<div class="posting_info1" th:text="|️😍${board.user_id}|"></div>-->
                <div class="writer_wrap">
                <img class="circle_pet" th:if="${pet_pic != null}" th:src="@{|${pet_pic}|}"
                     alt="Pet Image"/>
                <img class="circle_pet" th:unless="${pet_pic != null}"
                     th:src="@{/img/mypage/default-image.png}" alt="No Image"/>
                <div class="posting_info1" th:text="|️${board.user_id}|"></div>
                </div>


                <div class="posting_info2" th:utext="|${board.posting_date} &amp;nbsp; 조회 ${board.views}|"></div>
                <hr>
                <h2>게시글 내용</h2>
                <br>
                <div id="content" th:utext="|${board.content}|" style="font-size: larger"></div>
            </div>
            <br>
            <hr>

            <!--댓글 출력 부분-->
            <div class="comment_list"
                 th:if="${(session.userId == 'admin' && board.board_id == 0) || board.board_id != 0}">
                <div class="reply_text_content">
                    <h2>댓글</h2>
                    <br>
                    <ul id='Comment_list'>
                        <li th:each="comment : ${comments}">
                            <div class="writer_wrap">
                            <img class="circle_pet" th:if="${comment.petPicUrl != null}" th:src="@{|${comment.petPicUrl}|}"
                                 alt="Pet Image"/>
                            <img class="circle_pet" th:unless="${comment.petPicUrl != null}"
                                 th:src="@{/img/mypage/default-image.png}" alt="No Image"/>
                            <!--<span th:text="|️🙂${comment.user_id}|"></span><br>-->
                            <span th:text="|️${comment.user_id}|"></span>
                            </div>


                            <span th:text="${comment.content}"></span>
                            <hr>
                        </li>
                    </ul>
                </div>

                <!-- 댓글 작성 부분 -->
                <form id='reply_form' method='post' action="/board/comment"
                      th:if="${(session.userId == 'admin' && board.board_id == 0) || board.board_id != 0 && session.userId != null}">
                    <div class="comment_write">
                        <label for='commentContent' th:text="${session.userId}">댓글 작성자 아이디</label><br/>
                        <textarea id='commentContent' name='content'
                                  placeholder="댓글을 남겨보세요."></textarea><br/>
                        <input type="hidden" id="commentWriter" name="user_id" th:value="${session.userId}">
                        <input type="hidden" id="board_no" name="board_no" th:value="${board.board_no}"/>
                        <button id="comment_write_btn" class="btn btn-dark" onclick="commentWrite()">등록</button>
                    </div>
                </form>
            </div>

            <!-- 버튼 묶음 -->
            <div class="button_wrap" th:if="${canEdit}">
                <!--th:if="${(session.userId == 'admin' && board.board_id == 0) || board.board_id != 0}"-->
                <a th:href="@{/}">
                    <button id="ref_btn" class="btn btn-dark">메인으로 돌아가기</button>
                </a>
                <button id="edit_btn" class="btn btn-dark"
                        th:onclick="|displayUpdateForm(${board.board_no})|">수정
                </button>
                <a id="del_btn" class="btn btn-dark" th:href="@{'/board/delete?board_no='+${board.board_no}}"
                   onclick="return confirm('게시글을 삭제하시겠습니까?')">삭제</a>
            </div>

            <!-- 수정 form -->
            <div id="updateform" style="display: none">
                <h2 style="color: lightcoral">게시글을 수정하세요.</h2>
                <br>
                <form class="revise_form" method="post" action="/board/sbupdate">
                    <input type="hidden" name="board_no" value="">
                    <!--<input type="text" name="user_id" value="" required><br>-->

                    <textarea name="content" required style="height: 130px; padding: 10px;">

                    </textarea>
                    <div class="revision_btn">
                        <input id="revision_btn" type="submit" class="btn btn-danger" value="수정"
                               onclick="return confirm('게시글을 수정하시겠습니까?')">
                        <input type="button" class="btn btn-danger" value="취소"
                               onclick="document.getElementById('updateform').style.display='none'">
                    </div>
                </form>
            </div>
        </section>
    </div>

    <!--<script th:inline="javascript"></script> 타임리프에서 모델에 담긴 값을 접근할 때 사용하는 방법인데 꼭 지정해줘야 함-->
    <script th:inline="javascript">
        let jsonobj = null;
        let user_iddom = null;
        let contentdom = null;

        function displayUpdateForm(board_no) {
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if (xhr.status == 200) {
                    document.getElementById('updateform').style.display = 'block';
                    let board_nodom = document.querySelector("#updateform input[name=board_no]");
                    /*user_iddom = document.querySelector("#updateform input[name=user_id]");*/
                    contentdom = document.querySelector("#updateform textarea");
                    jsonobj = JSON.parse(xhr.responseText);
                    board_nodom.value = jsonobj.board_no;
                    /* user_iddom.value = jsonobj.user_id;*/
                    // Create a temporary div element
                    let div = document.createElement('div');

                    // Set the innerHTML to the content from the server
                    div.innerHTML = jsonobj.content;

                    // Get only text from the created div element
                    let textOnlyContent = div.textContent;

                    board_nodom.value = jsonobj.board_no;
                    /* user_iddom.value=jsonobj.user_id;*/

                    // Use only text content to remove HTML tags.
                    contentdom.value = textOnlyContent;
                    /* contentdom.value = jsonobj.content;*/
                }
            };
            xhr.open('GET', '/board/parsejson?board_no=' + board_no, true);
            xhr.send();
        }

        /*        function resetForm() {
                    if (jsonobj) {
                        user_iddom.value = jsonobj.user_id;
                        contentdom.value = jsonobj.content;
                    }
                }*/

        //댓글 등록 js 함수
        const commentWrite = () => {
            const writer = document.getElementById("commentWriter").value;
            const contents = document.getElementById("commentContent").value;
            const boardNo = document.getElementById("board_no").value;
            console.log("작성자: ", writer);
            console.log("내용: ", contents);
            $.ajax({
                // 요청주소: /board/comment/save,요청 방식: post, 요청데이터: 작성자, 작성내용, 게시글 번호
                url: "/comment/save",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "user_id": writer,
                    "content": contents,
                    "board_no": boardNo
                }),
                success: function (res) {
                    console.log(res);
                    let newComment = document.createElement("li");
                    newComment.innerHTML = `
                작성자: ${res.comment.user_id}<br>
                내용: ${res.comment.content}<br>
                <hr>
            `;
                    document.getElementById('reply_list').appendChild(newComment);
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }
    </script>
    </body>
</th:block>
</html>
